version: '3'
services:
  event-mongodb:
    container_name: event-mongodb
    image: mongo:3.4
    volumes:
      - ./_data:/data/db
    ports:
      - 12345:27017
      - 23456:28017
    command: ["mongod", "--rest"]

  event-app:
    container_name: event-app
    image: event-app
    build: ./app
    environment:
      - SERVER_PORT=8080
      - MONGODB_URI=mongodb://event-mongodb:27017/qagile
      - MONGODB_STATUS_HOST=event-mongodb
      - MONGODB_STATUS_PORT=28017
    ports:
      - "8080:8080"
    depends_on:
      - event-mongodb